.rfq-container{
    padding:5px;
}

.rfq-container hr{
    margin:0px;

}
.chat-img img{
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 15px;

}

.rfq .statistics small{
    float:right;

}
.rfq p button{
    margin-top: 1em;
}

.rfq .btn-sm .editable-submit{
    margin-right: 0px;

    height: 30px;
}

.rfq .glyphicon{
    line-height: inherit;
    margin:0px;

}

.rfq .glyphicon-ok, .accordion-toggle span{
    color:#fff!important;
}

.request_buttons{
    margin-top:2em;
}

.inbox-rfq-header strong{
    color: #585f69;
}

.rfq-notify{
    padding:5px;
}

.rfq-select{
    border-width:0px!important;

}

.rfq-select-label i{

   right:0px!important;
    margin-right:1px!important;

}
.rfq-select-label{
    width:75px!important;
    float:right;
}

.rfq-select-form{
    margin-left:3px;
    float:right;
}
.cont-list-messages, #accordion-panel{
    max-height: 550px!important;

}
