.rfq-container{
    padding:5px;
}

.rfq-container hr{
    margin:0px;

}
.chat-img img{
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 15px;

}

.rfq .statistics small{
    float:right;

}
.rfq p button{
    margin-top: 1em;
}

.rfq .btn-sm .editable-submit{
    margin-right: 0px;

    height: 30px;
}

.rfq .glyphicon{
    line-height: inherit;
    margin:0px;

}

.rfq .glyphicon-ok, .accordion-toggle span{
    color:#fff!important;
}

.request_buttons{
    margin-top:2em;
}

.inbox-rfq-header strong{
    color: #585f69;
}
