/* Add here all your css styles (customizations) */

.s-results .results-number {
    color: #999;
    display: block;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.color-dark-red{
    color: #d40000;
}

.footer-v1 .footer, .footer-v1 .copyright{
    background: #223539;
}

.footer-v1 .copyright {
    opacity: .98;
}
